<h1>Details</h1>
<p class="error" *ngIf="displayError">{{errorMessage}}</p>
<div *ngIf="displayDetails">
    <p>user Id : {{userDetails.userId}}</p>
    <p>user Name : {{userDetails.userName}}</p>
    <p>user Email : {{userDetails.userEmail}}</p>
    <p>user City : {{userDetails.userCity}}</p>
    <p>user Role : {{userDetails.userRole}}</p>
    <p>user Salary : {{userDetails.userSalary}}</p>
</div>
<button type="button" (click)="getDetails()" *ngIf="!displayDetails">Get Details</button>
<button type="submit" (click)="onLogOut()" *ngIf="displayDetails">Log out</button>