div {
  padding: 1rem;
}

button {
  border: none;
  background-color: #38638a;
  padding: 0.5rem;
  color: #ffffff;
  font-family: cursive;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 0.75rem;
  position: relative;
  left: 40%;
  top: 15%;
}

h1 {
  text-align: center;
  color: #1d3449;
}

.error {
  color: rgb(168, 28, 28);
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}
