div {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

app-signup {
  flex: 1;
  background-color: #8a307f;
  color: #e2c1de;
}

app-login {
  flex: 1;
  background-color: #79a7d3;
}

app-display-details {
  flex: 1;
  background-color: #6883bc;
  font-family: cursive;
}
