form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  input {
    background-color: #79a7d3;
    border-width: medium;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    color: #284968;
  }
  label {
    padding: 1rem;
    font-family: cursive;
    color: #284968;
  }
  button {
    border: none;
    background-color: #304b65;
    padding: 0.5rem;
    color: #ffffff;
    font-family: cursive;
    margin-top: 0.75rem;
    cursor: pointer;
    border-radius: 0.75rem;
  }
}

h1 {
  text-align: center;
  font-family: cursive;
  color: #2b4c6b;
}

.error {
  color: rgb(168, 28, 28);
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}
