<h1>Login</h1>
<p *ngIf="displayMessage" class="error">{{message}}</p>
<form action="" #postForm="ngForm">

    <label for="login-email">Enter the Email ID</label>
    <input type="email" id="login-email" [(ngModel)]="loginUsername" name="email" required>

    <label for="login-password">Enter the Password</label>
    <input type="password" id="login-password" [(ngModel)]="loginPassword" name="password" required>

    <button type="submit" (click)="onlogin()">Login</button>

</form>