<h1>Sign Up</h1>
<p *ngIf="displayMessage" class="success">You have successfully signed up!</p>
<p *ngIf="displayError" class="error">Something went wrong!</p>
<form action="">

    <label for="username">Enter the Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>

    <label for="email">Enter the Email ID</label>
    <input type="text" id="email" name="email" [(ngModel)]="email" required>

    <label for="password">Enter the Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>

    <label for="city">Enter the User City</label>
    <input type="text" id="city" name="city" [(ngModel)]="userCity" required>

    <label for="role">Enter the User Role</label>
    <input type="role" id="role" name="role" [(ngModel)]="userRole" required>

    <label for="salary">Enter the User Salary</label>
    <input type="role" id="salary" name="salary" [(ngModel)]="userSalary" required>

    <button type="submit" (click)="onSubmitDetails()">Sign
        Up</button>

</form>