form {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    background-color: #8a307f;
    color: #ffffff;
  }
  label {
    padding: 1rem;
    font-family: cursive;
  }
  button {
    border: none;
    background-color: #a3619b;
    padding: 0.5rem;
    color: #ffffff;
    font-family: cursive;
    margin-top: 0.75rem;
    cursor: pointer;
    border-radius: 0.75rem;
  }
}

h1 {
  text-align: center;
  font-family: cursive;
}

.success {
  text-align: center;
  color: rgb(76, 219, 76);
  font-size: larger;
}

.error {
  text-align: center;
  color: rgb(255, 0, 0);
  font-size: larger;
}
